<div class="text-box">
    <p class="text-title">Title：</p>
    <span class="text"><%= @book.title %></span>
</div>
<div class="text-box">
    <p class="text-title">Body：</p>
    <span class="text"><%= @book.body %></span>
</div>
<div class="EB">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <p class="division">|</p>
    <%= link_to "Back", books_path %>
</div>