/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  margin:35px;
}

h1{
  width:100%;
}

h3{
  margin:15px 0;
}

.table{
  width:100%;
}

.record{
  width:100%;
  display:flex;
  justify-content:center;
  text-align: center;
}

.data{
  width:100%;
  display: flex;
  flex-wrap:wrap;
  margin:5px 0;
}

.title{
  width:25%;
  overflow-wrap: break-word;
}

.body{
  width:50%;
  overflow-wrap: break-word;
}

.SED{
  width:25%;
  height:24px;
  display: flex;
}

.SED-links{
  margin-right: 15px;
}

.error-message{
  width:60%;
  border:2px solid red;
  
  
}

.error-amount{
  width:100%;
  background-color: #cc0000;
  color: #fff;
  padding:10px;
}

.list {
  background-color: #F0F0F0;
  width:100%;
  text-align: center;
  padding:10px;
}

.list-item{
  list-style:none;
}

.label{
  font-size: 13px;
}

.notice{
  margin-left: 20px;
  color:green;
}

.text-box{
  width:100%;
  display: flex;
  margin:20px;
}

.text-title{
  font-weight:bold;
}

.EB{
  display: flex;
  margin-top:10px;
}

.division{
  margin:0 15px;
}

.edit-title{
  margin-top:20px;
}